NODE_ENV=development
PORT=3000
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=bauk
POSTGRES_USER=bauk
POSTGRES_PASSWORD=bauk
REDIS_HOST=redis
REDIS_PORT=6379
JWT_SECRET=supersecretjwtkey
JWT_EXPIRES_IN=24h
IDEMPOTENCY_TTL_SECONDS = 60 * 60 // 1 hour
AUTO_SEED=true
