NODE_ENV=production
PORT=3000

# Simula AWS RDS PostgreSQL
POSTGRES_HOST=rds-postgres
POSTGRES_PORT=5432
POSTGRES_DB=bauk
POSTGRES_USER=bauk
POSTGRES_PASSWORD=bauk

# Simula AWS ElastiCache Redis
REDIS_HOST=elasticache-redis
REDIS_PORT=6379

JWT_SECRET=supersecretjwtkey
JWT_EXPIRES_IN=24h
IDEMPOTENCY_TTL_SECONDS=3600
CORS=http://localhost:5173
AUTO_SEED=true
